services:
  backend:
    build:
      context: .
      dockerfile: ./docker/build/php.dockerfile
    container_name: php
    working_dir: /var/www
    volumes:
      - ./symfony:/var/www
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@db:5432/${POSTGRES_DB}?serverVersion=18&charset=utf8
      APP_ENV: dev
    networks:
      - internal
    restart: unless-stopped
    tty: true
    stdin_open: true

  db:
    image: postgres:18-alpine
    container_name: postgres
    ports:
      - "5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER:-root}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD:-root}
      POSTGRES_DB: ${POSTGRES_DB:-app}
    volumes:
      - postgres-data:/var/lib/postgresql/data
    restart: unless-stopped
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER:-root} -d ${POSTGRES_DB:-app}'"]
      interval: 10s
      timeout: 5s
      retries: 5

networks:
  internal:
    driver: bridge

volumes:
  postgres-data: