services:
  backend:
    build:
      context: .
      dockerfile: ./docker/build/php.dockerfile
    container_name: php
    working_dir: /var/www
    user: "root"
    volumes:
      - ./symfony:/var/www
      - ./docker/conf/backend/supervisor/supervisord.conf:/etc/supervisor/supervisord.conf
      - ./docker/conf/backend/supervisor/messenger.conf:/etc/supervisor/conf.d/messenger.conf
      - ./docker/conf/backend/php/php-custom.ini:/usr/local/etc/php/conf.d/php-custom.ini
    networks:
      - internal
    restart: unless-stopped
    tty: true
    stdin_open: true

  cron:
    build:
      context: .
      dockerfile: ./docker/build/php.dockerfile
    container_name: cron
    working_dir: /var/www
    user: "root"
    volumes:
      - ./symfony:/var/www
      - ./docker/conf/backend/php/php-custom.ini:/usr/local/etc/php/conf.d/php-custom.ini
    command: [ "crond", "-f", "-x", "proc" ]
    networks:
      - internal
    restart: unless-stopped

  db:
    image: postgres:18-alpine
    container_name: postgres
    ports:
      - "127.0.0.1:5433:5432"
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    volumes:
      - postgres-data:/var/lib/postgresql/data
      - ./docker/conf/db/postgresql.conf:/etc/postgresql/postgresql.conf:ro
    command: postgres -c config_file=/etc/postgresql/postgresql.conf
    restart: unless-stopped
    networks:
      - internal
    healthcheck:
      test: ["CMD-SHELL", "sh -c 'pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}'"]
      interval: 10s
      timeout: 5s
      retries: 5

  redis:
    image: redis:8.4.0-alpine
    container_name: redis
    restart: unless-stopped
    environment:
      REDIS_PASSWORD: ${REDIS_PASSWORD}
    command: [ "redis-server", "--appendonly", "yes", "--requirepass", "${REDIS_PASSWORD}" ]
    ports:
      - "127.0.0.1:6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - internal

networks:
  internal:
    driver: bridge

volumes:
  postgres-data:
  redis-data: