services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    http_client:
        class: Symfony\Contracts\HttpClient\HttpClientInterface
        factory: ['Symfony\Component\HttpClient\HttpClient', 'create']


    http_client.retry_strategy:
        class: Symfony\Component\HttpClient\Retry\GenericRetryStrategy
        arguments:
            - [ 500, 429 ]
            - 500
            - 1.2
            - 10000
            - 0.3
            - '@logger'
            - [ 'transport_error' ]

    http_client.retry:
        class: Symfony\Component\HttpClient\RetryableHttpClient
        arguments:
            $client: '@http_client'
            $strategy: '@http_client.retry_strategy'
            $maxRetries: 15
            $logger: '@logger'

    App\Service\PostScraperService:
        arguments:
            $client: '@http_client.retry'

    App\Service\Proxy\YamlProxyService:
        arguments:
            $proxyList: '%http_proxy_list%'
            $redisDsn: '%env(REDIS_DSN)%'
            $concurrentLimit: 10

    App\Contracts\ProxyManager:
       alias: App\Service\Proxy\YamlProxyService
