parameters:
    consumer_index: '%env(int:CONSUMER_INDEX)%'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    # Retry strategy
    http_client.retry_strategy:
        class: Symfony\Component\HttpClient\Retry\GenericRetryStrategy
        arguments:
            $statusCodes: [500, 429]
            $delayMs: 3000
            $multiplier: 1.2
            $maxDelayMs: 15000
            $jitter: 0.3

    # Retryable client (оборачивает стандартный http_client)
    http_client.retry:
        class: Symfony\Component\HttpClient\RetryableHttpClient
        arguments:
            $client: '@http_client'
            $strategy: '@http_client.retry_strategy'
            $maxRetries: 10
            $logger: '@logger'

    App\Service\PostScraperService:
        arguments:
            $client: '@http_client.retry'
            $consumerIndex: '%env(int:CONSUMER_INDEX)%'

    App\Factory\WorkerHttpClientFactory:
        arguments:
            $baseClient: '@http_client.retry'
            $proxyManager: '@App\Service\ProxyManagerService'
            $consumerIndex: '%env(int:CONSUMER_INDEX)%'

    App\Service\ProxyManagerService:
        arguments:
            $proxyList: '%http_proxy_list%'
